html {
  font-size: 62.5%;
}
body {
  background: $off-white;
  font-family:   'Raleway', sans-serif, Arial, Helvetica,;
  font-size: $m-size;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}