// colors
$white: #FFFFFF;
$off-white: #F6F6F6;
$off-blue: #D6E4F0;
$blue: #1E56A0;
$dark-blue: #163172;

// spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;